#main {
	float: right;
	width: 80%;
	background: #D3D3D3;
	height: 100%;
	min-height: 1000px;
	padding: 25px;
	padding-right: 50px;
	margin-top: -20px;
	margin-right: 2px;
}


.container {
  margin-left: 135px;
}

#sidebar {
	float: left;
	width:20%;
	background: black;
	color: white;
	height: 1000px;
	text-align: center;
	position: fixed;
	margin-top: -20px;
}

#sidebar-header {
	padding-top: 75px;
	margin-bottom: 30px;
}

.sidebar-list-header {
	margin-top: 35px;
}

#sidebar-well {
	background-color: black;
}

.black-text {
	color: black
}

.course-list-item {
	text-align: left;
}

.sidebar-a {
	color: white;
	text-decoration: none !important
}

.sidebar-list {
	list-style-type: none;
}

.course-a {
	color: black;
	text-decoration: none !important
}

.course-grid {
	position: relative;
	float: left;
	height: 175px;
	width: 175px;
	border: solid;
	padding: 15px;
	text-align: center;
	border-radius: 8%;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.navbar-btn {
	margin-right: 5px;
}

.user-edit {
	float: right;
	padding-right: 200px;
	z-index: 1;
}

.student-well {
	width: 200px;
	position: relative;
}

.study-group-well {
	width: 90%;
	float: left;
}

.study-group-title {
	text-align: center;
	margin-top: -5px;
	margin-bottom: 15px;
	text-decoration: none !important;
}
