<h4 id="sidebar-header"> <%= current_user.username %> </h4>

<h6 class="sidebar-container"> My Courses </h6>

<ul class="sidebar-list">
	<%current_user.courses.each do |course| %>
		<li class="course-list-item"> <%= link_to "#{course.name}", course_path(course), class: 'sidebar-a' %> </li>
	<% end %>
</ul>

